################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project-CSOM-Read-Enterprise-CustomFields/bin/Debug
/Project-CSOM-Read-Enterprise-CustomFields/obj/Debug
